* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth; 
}

.about-writer {
    margin: 10px 0px 20px;
}

.fun {
    border: dotted white 1px;
    position: relative;
    padding: 20px;
    left: auto;
    width: 100px;
    margin: 0px auto;
}

.profileimg {
    border-radius: 50%;
    height: 75px;
    width: auto;
}

.quickFacts {
    margin: 0px 0px 25px;
}

.quickFacts h2 {
    border-bottom: solid skyblue 1px;
}

.quickFacts p {
    display: inline-block;
    border-right: solid white 1px;
    padding: 0px 10px;
    font-weight: bold;
}

.noLinkStyle {
    text-decoration: none;
    color: white;
}

.noLinkStyle a:hover {
    text-decoration: underline;
}

.headerList li, .footerList li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid white 1px;
    list-style-type: none;
    font-size: 20px;
}

.title {
    padding-top: 10px;
}

.writer {
    border-bottom: 1px solid skyblue;
    font-family: Georgia;
    text-align: center;
}

.writer a {
    text-decoration: none;
    color: white;
}

article {
    margin-bottom: 25px;
}

article h2 {
    border-bottom: 1px solid skyblue;
    margin-bottom: 25px;
}

body {
    background: rgb(20, 30, 46);
}

footer {
    background-color: rgb(2, 38, 92);
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover, .headerList li a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(94, 169, 199);
    background-size: auto;
    text-align: center;
}

h1 {
    text-transform: capitalize;
}

h1, h2 {
    font-family: Georgia;
}

h2 {
    letter-spacing: 0.02em;
}

main {
    margin: 5% 20%;
    color: white;
    line-height: 2;
}

nav {
    font-size: 30px;
    height: 35px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
}

ul.headerList {
    background: rgba(20, 30, 46, 0.75);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.headerList li a {
    padding: 14px 16px;
    text-align: center;
}

nav li a:hover:not(.active) {
    color: lightpink;
}

p {
    font-family: Helvetica;
    min-width: 100px;
    max-width: auto;
}

@media screen and (max-width: 600px) {
    ul.headerList li {
        display: block;
        float: none;
    }

    nav {
        position: relative;
    }
}