* {
    margin: 0;
}

html { 
    scroll-behavior: smooth; 
}

h2.section-header {
    font-family: Georgia;
}

.facts {
    display: inline-block;
    border-right: solid white 1px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.fun {
    border: dotted white 1px;
    position: relative;
    padding: 20px;
    left: 45%;
}

.profileimg {
    border-radius: 50%;
    height: 75px;
    width: auto;
}

.noLinkStyle {
    text-decoration: none;
    color: white;
}

.noLinkStyle a:hover {
    text-decoration: underline;
}

.headerList li, .footerList li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid white 1px;
    list-style-type: none;
    font-size: 20px;
}

.title {
    padding-top: 10px;
}

.writer {
    border-bottom: 1px solid skyblue;
    font-family: Georgia;
    text-align: center;
}

.writer a {
    text-decoration: none;
    color: white;
}

article h2 {
    border-bottom: 1px solid skyblue;
}

header {
    background-color: rgb(94, 169, 199);
    background-size: cover;
    text-align: center;
}

footer {
    background-color: rgb(2, 38, 92);
    color: white;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover, .headerList li a:hover {
    text-decoration: underline;
}

main {
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    line-height: 2;
}

nav {
    text-align: center;
}

body {
    background: rgb(20, 30, 46);
    margin: 0;
    padding: 0;
}

p {
    font-family: Helvetica;
}